.player,
th,
td {
  border: 1px solid black;
}

.bkgrd{
  background-image: url('images/paper.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* styles for the animals menu  */
.menu-label{
  display: block;
  float: left;
}

.space{
 
  width: 10px;
}

.vertical-menu {
  box-sizing: border-box;
  width: 40%;
  height: 300px;
  overflow-y: auto;
  border-collapse: collapse;
  border-spacing: 0;
  float: left;
  padding-top: 20px;
}

.vertical-menu div {
  margin-left:-5px;
  margin-right:-5px;
  float: left;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: flex;
  padding: 12px;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
/* end of animal menu */

.elem-menu-label{
  display: block;
  float: left;
}

.elem-vertical-menu {
  box-sizing: border-box;
  width: 40%;
  height: 300px;
  overflow-y: auto;
  border-collapse: collapse;
  border-spacing: 0;
  padding-top: 20px;
  display: block;
}

.elem-vertical-menu div {
  margin-left:-5px;
  margin-right:-5px;
}

.elem-vertical-menu::after {
  content: "";
  clear: both;
  display: table;
}


.elem-vertical-menu a {
  background-color: #eee;
  color: black;
  display: flex;
  padding: 12px;
  
}

.elem-vertical-menu a:hover {
  background-color: #ccc;
}

.elem-vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}